# Server configuration
JWT_SECRET=
CORS_ORIGIN=
PORT=3000

# Client configuration
VITE_API_URL=
VITE_DEMO_MODE=
VITE_SSO_AUTHORITY=
VITE_SSO_CLIENT_ID=
VITE_SSO_MODE=
VITE_SSO_REDIRECT_URI=
VITE_SSO_SCOPE=
VITE_AZURE_TRANSLATOR_KEY=
VITE_AZURE_TRANSLATOR_REGION=
VITE_AZURE_TRANSLATOR_ENDPOINT=
